@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}

/* navigation styling */

.menu-open {
  transform: translateY(0);
}
.menu-closed {
  transform: translateY(-1000px);
}

._blurmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.5);
}
